<div class="container">
  <div class="card">
    <h2>Signup Form</h2>

    <!-- SE CONNECTER / S'INSCRIRE -->
    <div class="login_register">
      <a [routerLink]="'/login'" class="login" target="blank">Login</a>
      <a [routerLink]="'/registrer'" class="register" target="blank">Signup</a>
    </div>

    <!-- FORMULAIRE -->
    <form class="form">
      <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email Adress" class="email">
      <input type="password" name="pass" [(ngModel)]="user.pass" placeholder="password" class="pass">
      <input type="name" name="name" [(ngModel)]="user.name" placeholder="Username" class="name">
    </form>

    <!-- MOT DE PASSE OUBLIE ? -->
    <a href="#" class="fp">Forgot password?</a>

    <!-- BOUTTON LOGIN -->
    <button type="submit" class="login_btn" [routerLink]="'/login'" (click)="registrerUser()">Singup</button>
  </div>
</div>