<div class="container">

  <!-- FORMULAIRE DE CONNEXION -->
  <div class="card">
    <h2>Login Form</h2>
    <div class="login_register">
      <a [routerLink]="'/login'"class="login" target="blank">Login</a>
      <a [routerLink]="'/registrer'" class="register" target="blank">Signup</a>
  </div>
    <!-- FORMULAIRE -->
    <form class="form">
      <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email Adress" class="email">
      <input type="password" name="pass" [(ngModel)]="user.pass" placeholder="password" class="pass">
    </form>

    <!-- MOT DE PASSE OUBLIE ? -->
    <a href="#" class="fp">Forgot password?</a>

    <!-- BOUTTON LOGIN -->
    <button type="button" class="login_btn" (click)="selectUser()">Login</button>

    <!-- PIED DE LA CARD -->
    <div class="footer_card">
      <p>Not a member?</p>
      <a [routerLink]="'/registrer'">Singup now</a>
    </div>
  </div>

</div>